body{
    margin: 0;
    /* background-color: rgba(23, 128, 76, 0.521); */
    background-color: rgba(136, 177, 156, 0.521);
    width: 180vh;
    /* overflow-x: hidden; */
}
ul{
    margin: 0;
}


ul{
    display: flex;
}

.nav,a,li{
    text-decoration: none;
    list-style: none;
}

/* --------------------------------------------- */

.header{
    background-image: url('img/bg1.jpg');
    width: 180vh;
    height: 10vh;
    background-repeat: no-repeat;
    border-style: cover;
    box-shadow: 1px 5px 30px ;

    padding: 50px;
    display: flex;

    transition: height 0.3s linear;
}

.header:hover{
    box-shadow: 1px 5px 100px ;
    height: 47vh;
    border-radius: 20px;
}

.icon{
    width: 50px;

    transition: width 0.3s linear;
}

.icon:hover{
    width: 60px;
}

.icon-text1{
    color: rgb(180, 45, 3);
    font-size: 40px;
    font-weight: 600;

    transition: font-size 0.3s linear;
}

.icon-text1:hover{
    font-size: 50px;
    font-weight: 700;
}

.nav{
    padding-left:150px;
}

.li-space{
    font-size: 25px;
    padding-top: 10px;
    padding-left: 50px;
}

.a-text{
    color: rgb(206, 157, 157);
    font-weight: 700;
    transition: color 0.3s linear;
}

.a-text:hover{
    color: rgb(126, 32, 3);
}

.num-icon-size{
    padding-top: 7px;
    padding-left: 500px;
    width: 40px;
}

.num{
    padding-top: 6px;
    padding-left: 10px;
}

.num-button{
    background-color: rgb(126, 32, 3);
    color: rgb(247, 247, 247);
    padding: 10px 10px;
    border: 0px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;

    transition: background-color 0.3s linear;
}

.num-button:hover{
    background-color:rgb(206, 157, 157);
}



/* ------------------------------------------------------------------------------------- */

.content1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* width: 190vh; */
    
    /* background-image: url('img/bg2.jpg');
    width: 188vh;
    height: 100vh;
    background-repeat: no-repeat;
    border-style: cover;
    box-shadow: 1px 5px 30px ; */
}



.content-form{
    margin-top: 25px;
    margin-left: 100px;
    background-color: aliceblue;
    width: 250px;
    height: 300px;
    border-radius: 20px;

    transition: box-shadow 0.3s linear;
}

.content-form:hover{
    background-color: rgb(233, 228, 162);
    box-shadow: 1px 1px 60px 10px;
}

.img1{
    width: 250px;
    height: 300px;
    border-radius: 20px;
}

.content2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 200px;
}


/* ---------------------------------------------------------------------------- */


.footer{
    margin-top: 200px;
    background-color: rgb(34, 34, 41);
    width: 190vh;
    height: 500px;
    color: antiquewhite;
    display: flex;
}

.header-footer{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.nav-footer{
    margin-top: -50px;
}

.ul-line-footer{
    display: block;
    margin-left: 100px;
    font-size: 25px;
}

.ul-line-footer, .li-space-footer{
    margin-bottom: 20px;
}

.contact-footer{
    margin-top: -50px;
    margin-left: 150px;
}

.flex-contact-footer{
    display: flex;
}


.num-icon-size-footer{
    width: 50px;

    transition: width 0.3s linear;
}

.num-icon-size-footer:hover{
    width: 70px;
}

.map-footer{
    margin-top: -50px;
    margin-left: 100px;
}

.map-iframe{
    width: 300px;
    height: 250px;
    border-radius: 20px;

    transition: width 0.3s linear;
}

.map-iframe:hover{
    margin-left: -50px;
    width: 400px;
    height: 250px;
}

.form-massage-footer{
    margin-left: 100px;

    width: 100px;
}

::placeholder{
    text-align: center;
}

.text-area-size{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.massage-area{
    width: 300px;
    height: 120px;
}

.botton-footer{
    border: 0px;
    width: 100px;
    height: 40px;
    margin-left: 100px;
    border-radius: 5px;
    background-color: rgb(127, 255, 176);
}


.footer-text{
    text-align: center;
    margin-top: 390px;
    margin-left: -700px;
}